.Yeti {
    display: grid;
    grid-template: auto/ repeat(auto-fit, minmax(500px, 1fr));
}
.text-center{
    font: impact;
    font-weight: bold;
    font-style: italic;
}
.calenderSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.react-calendar {
    width: 550px;
    height: 500px;
    max-width: 100%;
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.125em;
}
.react-calendar--doubleView {
    width: 700px;
}
.react-calendar__month-view__weekdays {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.75em;
}
.react-calendar__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    background: none;
    text-align: center;
    line-height: 60px;
}
.react-calendar__navigation {
    display: flex;
    height: 44px;
    margin-bottom: 1em;
  }
.react-calendar__navigation button {
    min-width: 44px;
    background: none;
    border-radius: 6px;
}
.react-calendar__tile--active {
    background: #AEDBF0;
    border-radius: 6px;
    font-weight: bold;
    color: white;
}
.react-calendar__tile--now {
    background: rgb(55, 137, 244)
  }

  .blue{
    background-color: #3586ff;
  }


.formSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #AEDBF0
}

.eventName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    margin-top: 100px;
    color: whitesmoke;
}
.eventName input {
    border-radius: 6px;
    padding: 10px;
}
.timePickers {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 20px;
    color:white
}

.buttonform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section{
    position: relative;
    width: 100%;
    height: 80vh;
    background: #3586ff;
    overflow: hidden;
  }
  section .air{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
    background-size: 1000px 100px
  }
  section .air.air1{
    animation: wave 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
  }
  section .air.air2{
    animation: wave2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
  }
  section .air.air3{
    animation: wave 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
  }
  section .air.air4{
    animation: wave2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
  }
  @keyframes wave{
    0%{
      background-position-x: 0px; 
    }
    100%{
      background-position-x: 1000px; 
    }
  }
  @keyframes wave2{
    0%{
      background-position-x: 0px; 
    }
    100%{
      background-position-x: -1000px; 
    }
  }

  .start {
    margin-right: 50px;
  }
  .end{
    margin-left: 50px;
  }